html {
  font-size: 18px;
  font-family: helvetica;

}

body {
  width: auto;
}


.container {
  color: white;
  max-width: 960px;
  margin: 0px auto;
}

/** Header **/

.header {
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;

}

.logo {
  height: 1.5rem;
  margin: 0rem 1rem 0rem 0.5rem;
}

.header .container {
  display: flex;
  align-items: center;
}

/** Banner Section **/

.banner {
  height: 25rem;
  background-size: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}

.banner .container {
  position: relative;
  background-color: black;
  top: 9rem;
  padding-left: 3rem;
  width: 20rem;
}

.banner h4 {
  padding-top: 2rem;
  padding-bottom: .25rem;
  font-size: 1rem;
  font-weight: bold;

}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 3rem;
}



/** Nav Section **/

nav {
  display: flex;
  justify-content: center;
  background-color: firebrick;
}

nav .container {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

#menu {
  display: none;
}

/** Company Product and Info Section **/

.products{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
  background-color: white;
}
.product, .product-watch, .product-glasses {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 4px;
}


.product-image img {
  height: 9rem;
  padding: 2rem 0rem;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#glasses {
  width: 50%;
  height: auto;
}

.product-description {
  background-color: black;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#glasses-description {
  position: relative;
  top: 2.7rem;
}

.business-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.hours-container,  .location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.hours, .location {
  background-color: black;
  padding: 1rem 2rem;
  color: white;

}

.info {
  color: black;

}

/** Footer **/

footer {
  color: white;
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

/** Media Queries **/

@media only screen and (max-width: 1024px) {
  .product-glasses {
    display: none;
  }
  .product, .product-watch {
    width: 47%;
  }
  nav li {
    display: none;
  }
  #menu {
    display: block;
  }
  nav .container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .product-watch {
    display: none;
  }
  .product {
    width: 90%;
    justify-content: center;
    margin: 0px auto;
  }
  .hours-container, .location-container {
    width: 90%;
    padding-bottom: 0.5rem;
    justify-content: center;
    margin: 0px auto;
  }
  .business-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    justify-content: center;
    margin: 0px auto;
  }
  .banner {
    height: 15rem;
  }
  .banner .container {
    font-family: Helvetica;
    padding: 0rem 0rem 1.5rem 2rem;
    font-weight: bold;
    position: relative;
    top: 10rem;
    height:3rem;
    width: 100%;
  }
  .banner .container h4 {
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 0.77rem;
  }
  .banner .container h1 {
    font-size: 1rem;
    padding-bottom: 0rem;
  }
}
